In [2]:
import os

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

os.chdir("..")

In [9]:
mind_df_train = pd.read_csv('data/processed/MIND_dataset/mind_small/mind_small.train.inter', sep='\t', skiprows=[0], names=['user_id', 'item_id', 'label', 'timestamp'])

mind_df_val = pd.read_csv('data/processed/MIND_dataset/mind_small/mind_small.dev.inter', sep='\t', skiprows=[0], names=['user_id', 'item_id', 'label', 'timestamp'])

In [10]:
mind_df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5843444 entries, 0 to 5843443
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   user_id    int64
 1   item_id    int64
 2   label      int64
 3   timestamp  int64
dtypes: int64(4)
memory usage: 178.3 MB

In [11]:
mind_df_val

         user_id  item_id  label   timestamp
0          80234    28682      0  1573853870
1          80234    48740      0  1573853870
2          80234    31958      1  1573853870
3          80234    34130      0  1573853870
4          80234     6916      0  1573853870
...          ...      ...    ...         ...
2740993    68182    48740      0  1573808074
2740994    68182    55237      0  1573808074
2740995    68182    31958      0  1573808074
2740996    68182    29091      0  1573808074
2740997    68182    24802      0  1573808074

[2740998 rows x 4 columns]

In [12]:
mind_df_train

         user_id  item_id  label   timestamp
0          13740    55689      1  1573452358
1          13740    35729      0  1573452358
2          91836    20678      0  1573571490
3          91836    39317      0  1573571490
4          91836    58114      0  1573571490
...          ...      ...    ...         ...
5843439    44625    39317      0  1573646222
5843440    64800    61233      0  1573734349
5843441    64800    33828      1  1573734349
5843442    64800    19661      0  1573734349
5843443    64800    41934      0  1573734349

[5843444 rows x 4 columns]

In [20]:
mind_df_val['user_id'].nunique(), mind_df_val['item_id'].nunique()

(50000, 5369)

In [23]:
pd.Series(mind_df_val['user_id'].unique()).isin(mind_df_train['user_id']).sum()

5943

In [24]:
pd.Series(mind_df_val['item_id'].unique()).isin(mind_df_train['item_id']).sum()

2886